<!--<ng-container *ngIf="true else autreTemplate">
    <ng-container *ngTemplateOutlet="templateTest, context: valeursTemplate"></ng-container>
</ng-container>

<ng-template #templateTest let-valeurs="valeurs">
    <p>{{valeurs.nom}}</p>
    <p>{{valeurs.chiffre}}</p>
</ng-template>

<ng-template #autreTemplate>
ezvezvezv
</ng-template>-->

<!--<app-deuxieme></app-deuxieme>-->



<!--<p *ngIf="personnes[0].nom != 'Bob'">
  Ne doit être affiché que si Bob a changé de nom
</p>

<div [ngSwitch]="personnes[0].nom">
    <p *ngSwitchCase="'Bob'">Coucou Bob</p>
    <p *ngSwitchCase="'Bobby'">Coucou Bobby le barbarre</p>
    <p *ngSwitchDefault>Où qu'il est Bob ?</p>
</div>

<p>Pipe exponentiel : {{ 2 | exponentiel }}</p>
<p>Pipe exponentiel : {{ 2 | exponentiel: 3 }}</p>-->

<nav>
  <ul>
    <li><a routerLink="/liste" routerLinkActive="active">Liste</a></li>
    <li><a routerLink="/deuxiemeComponent" routerLinkActive="active">Deuxième composant</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
